html {
  font-family: Exo, sans-serif;
}

.App {
  text-align: center;
  font-family: Exo, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.btn {
  font-family: "Bubbler One";
}

.navbar{
  background-color: green;
  font-family: "Bubbler One";
}

.Modal{
  background-color: green;
  
}

th {
  background: green;
  color: white;
}

Input[type='integer']{
  background-color: lightgrey;
}

Input[type='text']{
  background-color: lightgrey;
}

Input[type='date']{
  background-color: lightgrey;
}

Input[type='select']{
  background-color: lightgrey;
}

Input[type='email']{
  background-color: lightgrey;
}

Input[type='password']{
  background-color: lightgrey;
}


