body {
  margin: 0;
  font-family: 'Exo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Form {
  margin: auto;
  width: 40%;
  
}

@font-face{
  font-family: Exo;
  src: url('./fonts/Exo-Italic-VariableFont_wght.ttf')
}

@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');